<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Dem Waffles</h1>
<% toppings.forEach(topping => { %> 
  <h3><%= topping.name %> </h3>
<% }) %> 

<%- include('../partials/footer') %>